// custom scss for styling the banner with customer information

.customer-info-banner{
    display:flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 5px;
    border-color: #C8A2C8;
    border-radius: 5px;
    background-color: #ffe6ee;
}

.customer-info-banner-item{
font-size: 2em;
}


// custom css for hover effect

.card-img-container {
    position: relative;
  }
  
  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card-img-container:hover .hover-image {
    opacity: 1;
  }
  