// custom scss for styling the banner with customer information

.customer-info-banner {
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-width: 5px;
  border-color: #C8A2C8;
  border-radius: 5px;
  background-color: #ffe6ee;
}

.customer-info-banner-item {
  font-size: 2em;
}


// custom scss for hover effect

// keeps the hover image hidden until hovered and eases it in as a fade effect
// has all the same scss applied to it as the main image to guarentee perfect position
.hover-image {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  border: 0;
  font-family: "object-fit: contain;";
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

// on hover reveals the image
.card-figure:hover .hover-image {
  opacity: 1;
}

// keeps the buttons on hover as the top most element
.card-figcaption-button {
  z-index: 10;
}


// custom scss for buttons

.all-cart-buttons{
  display: flex;
  justify-content: flex-end;
}

.all-cart-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
}

.add-all-to-cart-button{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.add-all-to-cart-button:hover {
  background-color: #4CAF50;
  color: white;
}

.delete-all-cart-button{
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  margin-left: 2vw;
  display:none;
}

.delete-all-cart-button:hover {
  background-color: #f44336;
  color: white;
}


 /* Style for the popup */
 .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}